@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles using Tailwind utility classes */

/* Custom dotted line */
.custom-dotted-line {
  @apply border-t-2 border-dashed border-orange-600; /* Tailwind utility for dashed border and color */
  width: 100%;
  height: 2px;
  transform: translateY(-50%);
}

/* Background image for Kenya SVG */
.bg-kenya-svg-2 {
  background-image: url('/svgs/kenya/mainpage/kenya-svg-2.svg');
  background-size: cover; /* Adjust size as needed */
  background-position: center;
  background-repeat: no-repeat;
}

/* Masked image */
.masked-image {
  -webkit-mask-image: url("/svgs/zanzibar/mainpage/black-splash.svg");
  -webkit-mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-image: url("/svgs/zanzibar/mainpage/black-splash.svg");
  mask-size: cover;
  mask-repeat: no-repeat;
}

/* Adjust mask properties for different screen sizes */
@media (max-width: 1024px) {
  .masked-image {
    -webkit-mask-size: contain;
    mask-size: contain;
  }
}

@media (max-width: 768px) {
  .masked-image {
    -webkit-mask-size: 200%; /* Adjust as needed */
    mask-size: 200%; /* Adjust as needed */
  }
}

@media (max-width: 480px) {
  .masked-image {
    -webkit-mask-size: 300%; /* Adjust as needed */
    mask-size: 300%; /* Adjust as needed */
  }
}
